body{



}

h2{

    color: aqua
}


p{


    font-family: 'Times New Roman', Times, serif;
color: lightpink;

font-size: 250%;


}

div{

font-family: cursive;
color: aquamarine;
font-size: 500%;




}

h1{

    color: lightgoldenrodyellow;
    font-size: 500%;
}


#xD{

    color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 200px;
background-color:white;

}

p3{
    color: red;
    font-size: 333%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#SHAYE{
    margin-top: 20px;
    border-radius: 20px;
    display: inline;
    font-size: 300%;
    transition: 1000ms;

}

#SHAYE:hover{
    background-color: red;
transition: 1000ms;


}

a{
    transition: 1000ms;

}

a:hover{
    font-size: 100%;
    color: black


}



#shaye-img{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    width: 2%;
   
    
}

#shaye-img:hover{
    opacity: 1;
}

#shaye-img2{
  
    border-width: 10px;
    border-style: solid;
    border-color: red;
width: 2%;


}

#shaye-img2:hover{

    opacity: 1;


}

#shaye{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    width: 2%

}