body{

background-color: black;
color: rgb(0, 255, 0);


}

h2{


    color: aqua
}


p{


    font-family: 'Times New Roman', Times, serif;
color: red;

font-size: 50%;

}


#made{

font-size: 100%


}



h1{

    color: red;
    font-size: 200%;
}


#xD{

    color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 200px;
background-color:white;

}



p3{
    color: red;
    font-size: 298%;
}








#SHAYE a{
   color: red;
    transition: 1000ms;
    border-radius: 200px;
    display: inline;
    transition: 1000ms;
    text-decoration: overline;
font-size: 150%;

}

#SHAYE:hover a{
    
    color: black;
    cursor: help;
    text-decoration: underline;
background-color: red;


}



#netochka a{


    color: rgb(51, 255, 0);
    transition: 1000ms;
    border-radius: 200px;
    display: inline;
    transition: 1000ms;
    text-decoration: overline;
font-size: 150%;

}

#netochka:hover a{


    color: black;
    cursor: cell;
    text-decoration: underline;
background-color: rgb(51, 255, 0);





}








#shaye-img{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
   
    
}

#shaye-img:hover{
    opacity: 1;
    transition: 5000ms;
    cursor: help;

}













#shaye-img2{
  
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;

}

#shaye-img2:hover{

    opacity: 1;
    transition: 5000ms;

}













#shaye{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
}

#shaye:hover{
    transition: 5000ms;
}














#newspaper{
width: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    transition: 1000ms;
    position: absolute;
    top: 5%;
    left: 75%;


}

#newspaper:hover{
   width: 150%;
    transition: 1000ms;
    position: absolute;
    top: 1%;
    left: 1%;
    cursor: help;

    
}














#littleshaye{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
}

#littleshaye:hover{
    opacity: 1;
    transition: 5000ms;
}














#ridepony{

    
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;

}

#ridepony:hover{
    opacity: 1;
    transition: 5000ms;
}
















#max a{

    margin-top: 20px;
    border-radius: 200%;
    display: inline;
    font-size: 300%;
    transition: 1000ms;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

#max:hover a{

    color: black;
    background-color: rgb(51, 255, 0);
    transition: 1000ms;
text-decoration: none;
cursor: pointer;
}





#Netochka-name{

font-size: 200%;

color: rgb(51, 255, 0);
text-decoration: overline;


}





#netochka-info1{
font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 255, 0);
    text-decoration: line-through;

}

#netochka-info1:hover{

    color: rgb(51, 255, 0);
    transition: 1000ms;
text-decoration: none;
cursor: none;

}


#netochka-info2{
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 255, 0);
    text-decoration: line-through;

}



#netochka-info2:hover{

    color: rgb(51, 255, 0);
    transition: 1000ms;
text-decoration: none;
cursor: none;
}

#netochka-info3{
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 255, 0);
    text-decoration: line-through;
}


#netochka-info3:hover{

    color: rgb(51, 255, 0);
    transition: 1000ms;
text-decoration: none;
cursor: none;
}





#net-0{

    position: absolute;
    top: 8px;
    left: 310px;

    border: 1px solid rgb(51, 255, 0);
  border-radius: 4px;
  padding: 5px;
  width: 110px;

}

#net-0:hover{

    width: 750px;
cursor: cell;
}

#net-3{

    position: absolute;
    top: 8px;
    left: 450px;

    border: 1px solid rgb(51, 255, 0);
  border-radius: 4px;
  padding: 5px;
  width: 110px;

}

#net-3:hover{

    width: 750px;
    cursor: cell;
}

#net-1{

    position: absolute;
    top: 8px;
    left: 590px;

    border: 1px solid rgb(51, 255, 0);
  border-radius: 4px;
  padding: 5px;
  width: 110px;

}

#net-1:hover{

    width: 750px;
    cursor: cell;
}

#net-2{

    position: absolute;
    top: 8px;
    left: 730px;

    border: 1px solid rgb(51, 255, 0);
  border-radius: 4px;
  padding: 5px;
  width: 110px;

}

#net-2:hover{

    width: 750px;
cursor: cell;

}

#index3{

cursor: crosshair;

}

#shayetitle{

    text-decoration: overline;
}

#shayeinfo1{

color: red;
    font-size: 150%;
     background-color: 

    
}




#shayetext{

    font-size: 20%;
    background: red;
    transition: 3000ms;
    display: inline;
    border-radius: 0px;
}
#shayetext:hover{

    color: black;
    cursor: help;
background-color: red;
display: inline;
transition: 3000ms;
border-radius: 100px;
font-size: 100%;

}

#shayelink{
color: red;
    font-size: 20%;
    background: red;
    transition: 1000ms;
    display: inline;
    border-radius: 0px;
}

#shayelink:hover {
    font-size: 100%;
    color: black;
    cursor: pointer;
background-color: red;
display: inline;
transition: 1000ms;
border-radius: 100px;
text-decoration: underline;

}

#shayehome{
    color: red;
    font-size: 20%;
    background: red;
    transition: 1000ms;
    display: inline;
    border-radius: 0px;

}

#shayehome:hover{

    font-size: 100%;
    color: black;
    cursor: pointer;
background-color: red;
display: inline;
transition: 1000ms;
border-radius: 100px;
text-decoration: underline;
}

#netochkalink{

    color: rgb(51, 255, 0);
    font-size: 100%;
    background: rgb(51, 255, 0);
    transition: 1000ms;
    display: inline;
    border-radius: 0px;
}

#netochkalink:hover{

    font-size: 100%;
    color: black;
    cursor: pointer;
background-color: rgb(51, 255, 0);
display: inline;
transition: 1000ms;
border-radius: 0px;
text-decoration: underline;
}