body{

background-color: black;



}

h2{


    color: aqua
}


p{


    font-family: 'Times New Roman', Times, serif;
color: red;

font-size: 50%;

}


#made{

font-size: 100%


}



h1{

    color: red;
    font-size: 200%;
}


#xD{

    color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 200px;
background-color:white;

}



p3{
    color: red;
    font-size: 298%;
}








#SHAYE a{
   color: red;
    transition: 1000ms;
    border-radius: 200px;
    display: inline;
    transition: 1000ms;
    text-decoration: overline;
font-size: 150%;

}

#SHAYE:hover a{
    
    color: black;
    cursor: help;
    text-decoration: underline;
background-color: red;


}



#netochka a{


    color: rgb(51, 255, 0);
    transition: 1000ms;
    border-radius: 200px;
    display: inline;
    transition: 1000ms;
    text-decoration: overline;
font-size: 150%;

}

#netochka:hover a{


    color: black;
    cursor: cell;
    text-decoration: underline;
background-color: rgb(51, 255, 0);





}








#shaye-img{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
   
    
}

#shaye-img:hover{
    opacity: 1;
    transition: 5000ms;
    cursor: help;

}













#shaye-img2{
  
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;

}

#shaye-img2:hover{

    opacity: 1;
    transition: 5000ms;

}













#shaye{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
}

#shaye:hover{
    transition: 5000ms;
}














#newspaper{
width: 2%;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;

}

#newspaper:hover{
   width: 150%;
    transition: 5000ms;
    
}














#littleshaye{
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;
}

#littleshaye:hover{
    opacity: 1;
    transition: 5000ms;
}














#ridepony{

    
    border-width: 10px;
    border-style: solid;
    border-color: red;
    transition: 5000ms;

}

#ridepony:hover{
    opacity: 1;
    transition: 5000ms;
}
















#max a{

    margin-top: 20px;
    border-radius: 200%;
    display: inline;
    font-size: 300%;
    transition: 1000ms;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}

#max:hover a{

    color: black;
    background-color: rgb(51, 255, 0);
    transition: 1000ms;
text-decoration: none;
cursor: none;
}


