body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;

}

h1{
    
    margin: 20px;
    background-color: lightgrey;
    border-radius: 30%;
    color: blue;

}

p{
   
    text-align: center;

}

img{
    
    width: 100px;

}

#intro-div{
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5%;
    
}

.enter{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: red;
 display: flex;
    align-items: center;
    justify-content: center;

}

#output{
    display: flex;
    align-items: center;
    justify-content: center;
color: white;
width: 200px;
height: 200px;
flex-direction: column;

}

#winner{
    
    text-decoration: underline;
    text-shadow: 3px 2px 3px grey;
    font-size: 20px;

}