*{
	margin: 0;
	padding: 0;

}

#container{
	position: relative;
	margin: 0 auto;
	top: 10vh;
	width: 80vw;
	height: 20vh;
	background-color: rgb(255, 255, 255);
	border-radius: 0;
	align-items: center;
	display: flex;
}

.box{

}

@keyframes swag-rounded{

	0%{
		width: 0px; 
		height: 100px; 
		position: absolute;
		top: 0%; 
		left: 0%; 
		
	border-radius: 0%;
	background-color: rgb(255, 255, 255);
	border-color: rgb(0, 0, 0);
	border: 10px solid rgb(0, 0, 0);}


	50%{
		
		width: 50px; 
		height: 100px; 
		top: -20%; 
		left: -5.5%; 
		position: absolute;
	transform: rotate3d(10, 100, 30, 900deg);
	border-radius: 100%;
	background-color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
	border: 50px solid rgb(0, 255, 21);}


	100%{  
	width: 0px; 
	height: 100px; 
	position: absolute;
	top: 0%; left: 0%;

	border-radius: 0%;
	background-color: rgb(255, 255, 255);
	border-color: rgb(0, 0, 0);
	border: 10px solid rgb(0, 0, 0);}

}

.chic{


background-size: 100%;
background-repeat: no-repeat;
animation-name: swag-rounded;
animation: swag-rounded 2.5s infinite;
animation-timing-function: ease-in-out;
background-position: contain;
align-items: center;
display: flex;
/* top: 200px;
left: 300px; */
/* transition-property: height;
transition-duration: 3200ms; */
border-radius: 100%;
border-style: solid;
border-color: black;
transition: width 10000ms ease-in-out;
transition: height 10000ms ease-in-out;
transition: background-color 10000ms ease-in-out;
transform: transform 10000ms ease-in-out;
animation-delay: 0s;



}

.red{
	background-image: url(../../images/chic.png);
}