*{
	margin: 0;
	padding: 0;

}

#container{
	position: relative;
	margin: 0 auto;
	top: 10vh;
	width: 80vw;
	height: 20vh;
	background-color: rgb(0, 0, 0);
	border-radius: 0;
	align-items: center;
	display: flex;
}

.box{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	background-color: transparent;
animation-name: swag-rounded;
animation-duration: 100ms;
animation-timing-function: ease-in;
animation-direction: alternate;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
background-position: contain;
background-color: transparent;
align-items: center;
display: flex;
}

@keyframes swag-rounded{

0%{top: 0px; left: 10px;}
25%{top: 0px; left: 5px;}
50%{top: 10px; left: 10px;}
75%{top: 5px; left: 0px;}
90%{top: 0px; left: 5px;}
100%{top: 0px; left: 10px;}

}

.chic{

top: 100%;
left: 100%;
bottom: 100%;
width: 50px;
height: 50px;
position: relative;
background-size: 100%;
background-repeat: no-repeat;
animation-name: swag-rounded;
animation-duration: 8ms;
animation-timing-function: ease-in;
animation-direction: alternate;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
background-position: contain;
align-items: center;
display: flex;
background-color: red;


}

.red{
	background-image: url(../../images/chic.png);
}