*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#names{
    position: absolute;
   top: 7.75%;
   left: 40%;
   color: lime;
}

#results{
    position: absolute;
   top: 110.75%;
   left: 10.25%;
color: lime;
}

#button{
    position: absolute;
    top: 7.85%;
    left: 59%;
    color: lime;
}

.box1{
   position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    top: 05%;
  
}
#sketch{
position: relative;
top: 6.75vh;
left: 15vw;
width: 300px;
height: 300px;
border: .5px solid lime;
    
}

#info1{
    color: lime;
    position: fixed;
    top: 27%;
    left: 27.5%;
    z-index: 1;
    font-size: 90%;
    
}

#mce-EMAIL{
    position: absolute;
    color: lime;
    top: 24.75%;
  
    left: 19.5vw;

}

#mc-embedded-subscribe{
    position: absolute;
    color: lime;
    top: 24.85%;
    left: 27.5vw;
}

#coaster{
    position: fixed;
    color: lime;
    /* font-size: 750%; */
  left: 26.25%;
    font-size: 70px;
        /* perspective: 50em; */

        text-shadow: -5px 0px #1f4416,
                     -80px 5px transparent,
                     -100px 10px transparent,
                     -120px 15px transparent;

}
#coaster1{
    position: relative;
    top: 15.5%;
left: 1.45%;
    color: lime;
    font-size: 100%;
    text-shadow: -2px 0px #1f4416,
    -80px 5px transparent,
    -100px 10px transparent,
    -120px 15px transparent;
}

#gif{

    position: absolute;
    top: 17vh;
    left: 15vw;
    width: 300px;
    height: 300px;

}

#coaster2{
   
    position: relative;
    /* top: 10.5%;
left: 1%; */
    color: rgb(255, 230, 0);
    font-size: 100%;
    text-shadow: -2px 0px #a15b00,
    -80px 5px transparent,
    -100px 10px transparent,
    -120px 15px transparent;
    

}

#container1{
    position: fixed;
    top: 25%;
    left: 25%;
width: 50vw;
height: 50vh;
    background-color: rgb(0, 0, 0);
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid lime;
}

#container2{
    position: fixed;
    top: 25%;
    left: 25%;
width: 50vw;
height: 50vh;
    background-color: rgb(0, 0, 0);
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 01px solid lime;
}

#container3{
    width: 47.5vw;
height: 41.5vh;
position: fixed;
left: 26.3%;
top: 31.75%;
border: .5px solid lime;
}